{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
      <!-- Vendor CSS Files -->
    <link href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'css/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'css/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'css/simple-datatables/style.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

<main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="{% static 'images/logo.png' %}" alt="">
                  <span class="d-none d-lg-block">NiceAdmin</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                    <p class="text-center small">Enter your username & password to login</p>
                  </div>

                  <form method="POST" class="row g-3 needs-validation" id="login_form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Login</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Don't have account? <a href="{% url 'register' %}">Create an account</a></p>
                    </div>
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->


  

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).on('submit', '#login_form', function(e){
    e.preventDefault();
    var username = $('#id_query').val();
    var password = $('#id_password').val();
    console.log(username,'u',password,'pass');

    $.ajax({
      type: 'POST',
      url: "/login/",
      data: {
        'query':username,
        'password':password,
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(res) {
        console.log(res,'res');
        if (res.loggedIn) {
         window.location = res.redirect_url;
         console.log(res.loggedIn,'loggedIn'); 
        }
        else {
          $("#login_form").before(`<p><strong>${res.error}</strong></p>`);
        }
      },
      error: function(err) {
        console.log(err,'err');
      },
    });
  });


 
</script>

</body>
</html>