{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
    <!-- Vendor CSS Files -->
    <link href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'css/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'css/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'css/simple-datatables/style.css' %}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
<body>

<main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="{% static 'images/logo.png' %}" alt="">
                  <span class="d-none d-lg-block">NiceAdmin</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>

                  <form method="POST" class="row g-3 needs-validation" id="register_form">
                    {% csrf_token %}

                    {{ form|crispy }}
                    
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href="{% url 'login' %}">Log in</a></p>
                    </div>
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->


   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).on('submit', '#register_form', function(e){
    e.preventDefault();
    var email = $('#id_email').val();
    var mobile_number = $('#id_mobile_number').val();
    var username = $('#id_username').val();
    var password1 = $('#id_password1').val();
    var password2 = $('#id_password2').val();

    $.ajax({
      type: 'POST',
      url: "{% url 'register' %}",
      data: {
        'email':email,
        'mobile_number':mobile_number,
        'username':username,
        'password1':password1,
        'password2':password2,
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(res) {
        console.log(res.status,'res');
        if(res.status == '200') {
          window.location = res.redirect_url;
          console.log(res.status,'res');
        }
        else {
          if(res.error_email){
            $("#register_form").before(`<p class="error-text"><strong>${res.error_email}</strong></p>`);
          }
          if(res.error_mobile_number){
            $("#register_form").before(`<p class="error-text"><strong>${res.error_mobile_number}</strong></p>`);
          }
          if(res.error_username){
            $("#register_form").before(`<p class="error-text"><strong>${res.error_username}</strong></p>`);
          }
          if(res.error_password){
            $("#register_form").before(`<p class="error-text"><strong>${res.error_password}</strong></p>`);
          }
        }
      },
      error: function(err) {
        console.log(err,'err');
      },
    });
  });


 
</script>

<style>
.error-text {
  color: red;
}
</style>

</body>
</html>